body {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: aliceblue;
    background-image: linear-gradient(to bottom right, rgb(2,2,2), rgb(17,17,17));
    background-repeat: no-repeat;
    background-size: 100%;
    }

h1 {
    color: rgb(95, 180, 255);
    }
p {
    text-align: center;
    color: rgb(170, 170, 170);
    }
.blog {
    background-color: rgba(77, 77, 77, 0.5);
    color: rgb(0, 136, 255);
    padding: 10px;
    border: 5px solid rgb(129, 129, 129);
    align-items: center;
    text-align: center;
    /* vertical-align: middle; */
    height:max-content;
    width: 50%;
    display: block;
    justify-content: center;
    margin: 20px;
    }

.blog1 {
    width:fit-content;
    border: 1px solid #333;
    /* box-shadow: 8px 8px 5px #1a1414; */
    padding: 8px 12px;
    background-image: linear-gradient(to bottom right, rgb(2,2,2), rgb(66, 66, 66));
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.blog2 {
    width:fit-content;
    border: 1px solid #333;
    /* box-shadow: 8px 8px 5px #1a1414; */
    padding: 8px 12px;
    background-image: linear-gradient(to bottom right, rgb(2,2,2), rgb(66, 66, 66));
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.blog3 {
    width:fit-content;
    border: 1px solid #333;
    /* box-shadow: 8px 8px 5px #1a1414; */
    padding: 8px 12px;
    background-image: linear-gradient(to bottom right, rgb(2,2,2), rgb(66, 66, 66));
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

hr {
    border: 1px solid green;

}